.students {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 50px;
  font-size: 20px;
  width: 97vw;
  height: 65vh;
  display: inline-block;
}

.parents {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 50px;
  font-size: 20px;
  width: 97vw;
  height: 65vh;
  display: block;
}

ol {
  font-size:18px;
  overflow: hidden;
  display: block;
}

.image1 {
  width: 50vw;
  height: 65vh;
  max-width: 500px;
  max-height:500px;

  background-position: center;
  float: right;
  position: relative;
  border: #000000 3px solid;
  object-fit: cover;
  border: 5px solid #000000;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.image2 {
  width: 50vw;
  height: 65vh;
  max-width: 500px;
  max-height:500px;

  background-position: center;
  float: left;
  position: relative;
  border: #000000 3px solid;
  object-fit: cover;
  border: 5px solid #000000;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 200px;
}

.signup {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  transform: translate(50px, 0);
  margin: auto;
  display: inline-block;
}

.signup a {
  font-size: 20px;
  color: #000000;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #36c0d8;
}

.signup a:hover {
  background-color: #8c6464;
} 
